<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alicia_d_descriptions">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="hw_port" default="" />
    <xacro:arg name="hw_debug_mode" default="false" />
    <xacro:arg name="hw_use_open_loop_state" default="true" />
    <xacro:arg name="hw_gripper_type" default="50mm" />
    <xacro:arg name="hw_default_speed_deg_s" default="20.0" />

    <!-- Import alicia_d_descriptions urdf file -->
    <xacro:include filename="$(find alicia_d_descriptions)/urdf/Alicia_D_v5_6/Alicia_D_v5_6_gripper_50mm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="alicia_d_descriptions.ros2_control.xacro" />


    <!-- <xacro:alicia_d_descriptions_ros2_control name="AliciaDuoSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <xacro:alicia_d_descriptions_ros2_control
        name="FakeSystem"
        initial_positions_file="$(arg initial_positions_file)"
        hw_port="$(arg hw_port)"
        hw_debug_mode="$(arg hw_debug_mode)"
        hw_use_open_loop_state="$(arg hw_use_open_loop_state)"
        hw_gripper_type="$(arg hw_gripper_type)"
        hw_default_speed_deg_s="$(arg hw_default_speed_deg_s)"/>

</robot>
